.list {
  display: grid;
  grid-auto-flow: row;
  gap: 8px;

  &__item {
    display: grid;
    grid-auto-flow: row;
    gap: 12px;
    padding: 40px 12px;

    &:hover {
      h3 {
        text-decoration: underline;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgb(191, 191, 191);
    }
  }
}

.icon_group {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content;
  gap: 8px;

  & > span {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: max-content;
    gap: 4px;
  }
}
